:root {
    /* Font variables */
    --font-family-main: 'Times New Roman', Times, serif;
    
    --font-size-middle: 16px;
    --font-line-middle: 24px;

    --font-size-large: 24px;
    --font-line-large: 32px;

    box-sizing: border-box;
    
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: var(--font-family-main);
}

.app.dark {
    --color-background: #0c971e;
    --color-text: #FFFFFF;
}

.app.light {
    --color-background: #d1e7d4;
    --color-text: #1b0404;
}

.app {
    width: 100%;
    height: 100vh;
    font-size: var(--font-size-middle);
    line-height: var(--font-line-middle);
    background-color: var( --color-background);
    color: var(--color-text);
}



