.app.dark {
    --color-background: #0c971e;
    --color-text: #FFFFFF;
}

.app.light {
    --color-background: #d1e7d4;
    --color-text: #1b0404;
}

.app {
    width: 100%;
    height: 100vh;
    font-size: var(--font-size-middle);
    line-height: var(--font-line-middle);
    background-color: var( --color-background);
    color: var(--color-text);
}



